html {
  height: 100%;
}

body {
  background-image: url("../img/background.png");
  margin: 0;
  height: 100%;
}

.gallery {
  display: inline-block;
  width: 15em;
  background-color: white;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  border-right: 1px solid #BBB;
  box-shadow: 0 0 20px #ccc;
  text-align: center;
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  display: inline-block;
  margin: .8em;
  padding: .2em;
  background-color: white;
  width: 13em;
}

li:hover {
  box-shadow: 0 2px 4px #666;
}

.gallery img {
  width: 100%;
}

.content {
  display: inline-block;
  vertical-align: top;
}

.dragging {
  position: absolute;
}

#canvas {
  box-shadow: 0 0 20px #ccc;
  border: 1px solid #BBB;
  background-color: white;
  border-radius: 1em;
  margin: 1em;
}

#place_holder {
  opacity: 0.2;
}